body {
    background-image: url("../img/logo.jpg");
}

#login {
    background-color: white;
    min-height: 200px;
    max-width: 400px;
    box-shadow: 0 0 9px 4px rgba(0,0,0,0.5);
}

#start {
        min-height: 400px;
        box-shadow: 0 0 9px 4px rgba(0,0,0,0.5)
}

#match {
        min-height: 400px;
        box-shadow: 0 0 9px 4px rgba(0,0,0,0.5)
}

.serverBox{
    width: 180px;
    height: 125px;
    background-color: black;
    color: white;
    box-shadow: 0 0 9px 4px white;
}